.cards {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;
}
.from-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 600px;
  overflow-y: auto;
}
.card {
  z-index: 2;
  width: 500px;
  height: 550px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
  /* border: 1px solid rgba(0, 0, 0, 0.295); */
  box-shadow: 0px 1px 4px rgb(145, 144, 144);
  background-color: #262626;
  border: none;
}
.card-head {
  display: flex;
  justify-content: space-between;
  /* margin: 5px 0; */
}

.user-head {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.user-pic img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 5px;
  border: 5px solid rgba(0, 0, 0, 0.362);
}
.card-img {
  margin: 5px 0;
}
.card-desc {
  height: 150px;
  margin: 10px 0;
  color: white;
}
.cardFooter {
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid rgba(128, 128, 128, 0.471);
  padding: 10px 5px 0px 5px;
}
.heart {
  display: flex;
}
.card-img img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  border: 3px solid rgb(255, 255, 255);
}

.clicked-style {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.comment-component {
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}

.comment-show {
  transform: translateX(0); 
  z-index: 1;
}