.plus-icon {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.455);
  border-radius: 50%;
  margin-right: 5px;
}
.create img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.create {
  width: 120px;
  padding: 2px 4px;
  display: flex;
  background-color: #373737;
  color: white;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.navi {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* height: 90px; */
  padding: 10px 100px;
  background-color: #262626;
  -webkit-box-shadow: 0px 0.5px 20px rgb(0 0 0/20%);
  box-shadow: 0px 0.5px 20px rgb(0, 0, 0);
  /* -webkit-transition: all 200ms ease-in-out; */
  /* transition: all 200ms ease-in-out; */
  /* justify-content: space-between; */

}

.navbar-scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
    /* background-color: #cbcbd4; */
    -webkit-animation:400ms ease-in-out 0s normal none 1 running fadeInDown ;
    animation: 400ms ease-in-out 0s normal none 1 running fadeInDown;
}
@keyframes fadeInDown {
    0%{
        top: -30%;
    }
    50% {
        top: -15%;
    }
    100% {
        top: 0;
    }
}
.nav-link {
  font-size: large;
  margin: auto;
  text-decoration: none;
  padding: 0;
}

.name-icon {
  background-color: lightgreen;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: x-large;
  margin-right: 5px;
}

.profile {
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: xx-large;
  /* background: linear-gradient(to right, #0da8f0, rgb(231, 22, 137), #ee7c0b); */
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* color: rgba(0, 0, 0, 0.666); */
  color: rgb(255, 255, 255);
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  color: black;
}

.nav-item {
  padding: 0;
  margin: auto;
}


/*Category styling*/

.select-dropdown {
  background-color: #373737;
  border-radius: 30px;
  padding: 7px 10px;
  /* margin: 0 220px; */
}